name: Frontend CI/CD

on:
  push:
    paths:
      - "Ticketing-Frontend/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push frontend
        run: |
          docker build -t mohitrajguru/ticketing-frontend:latest ./Ticketing-Frontend
          docker push mohitrajguru/ticketing-frontend:latest
